* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/*header de todos los html*/


.header-up {
    display: flex;
    justify-content: start;
}

.logo-decori {
    width: 6.25rem;
    margin-top: .625rem;
    margin-left: .625rem;
}

.decori {
    width: 18.75rem;
    margin-top: -11px;
    margin-left: -25px;

}

.barra-de-busqueda {
    margin-top: 33px;
    padding: 10px;
    width: 66%;
    height: 40px;
    font-family: 'verdana';
    font-size: 15px;
    outline: none;
    ;
}

.carrito-de-compras {
    margin-top: 30px;
    margin-left: 40px;
    width: 50px;
    height: 50px;

}

.frase {
    display: flex;
    justify-content: center;
    margin-top: -30px;
    color: #494949;
    font-size: 27px;
    font-style: italic;
}

.frase:hover {
    text-shadow: 2px 2px 4px #000000;
}

.navbar {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 40px;
    margin-top: 40px;
    width: 100%;
}

.navbar li a {
    color: white;
    text-decoration: none;
}

.navbar li a:hover {
    text-shadow: 6px 6px 8px #000000;
}

.separadores {
    margin-top: 30px;
    height: 3px;
    background-color: white;
    color: white;
    opacity: 100%;
}

body {
    background-color: #212031;
}

/*footer de todos los html*/

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    border-style: solid;
    border-color: white;
    width: 100%;
}

.titulos-footer {
    color: #494949;
    font-size: 40px;
}

.lorem-footer {
    color: black;
    width: 25%;
}

.imagenes-footer {
    display: flex;
    gap: 15px;
}

.imagenes-footer img {
    width: 80px;
}

/*.titulos-footer  {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 40px;
    gap: 830px;
    color: #494949;
    list-style: none;
}

.enlaces-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -93px;
} 

.enlaces-footer p {
    margin-top: 15px;
    margin-left: 200px;
    padding-right: 600px;
    color: black;
}

.enlaces-footer img {
    margin-top: 15px;
    margin-right: 20px;
}

.enlaces-footer img:nth-child(2) {
    width: 90px;
}

.enlaces-footer img:nth-child(3) {
    width: 70px;
}

.enlaces-footer img:nth-child(4) {
    width: 70px;
}

.enlaces-footer img:nth-child(5) {
    width: 80px;
}
*/
/*index.html*/

.main-index {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
}

.pokemons {
    grid-column: 1/ 2;
    grid-row: 1 / 2;
    border-style: solid;
    border-color: white;
}

.fotos-grid-index {
    display: flex;
    width: 100%;
    justify-content: center;
}

.pokemons h2 {
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}

.pokemons p {
    color: #5647FF;
    margin-top: 10px;
    margin-left: 20px;
}

.art-toys {
    grid-column: 2/ 3;
    grid-row: 1 / 2;
    align-self: center;
    border-style: solid;
    border-color: white;
    width: 100%;
    height: 100%;
}

.art-toys h2 {
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}

.art-toys p {
    color: #5647FF;
    margin-top: 10px;
    margin-left: 20px;
}

.superheroes {
    grid-column: 1 /2;
    grid-row: 2/ 3;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-style: solid;
    border-color: white;
}

.superheroes h2 {
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}

.superheroes p {
    color: #5647FF;
    margin-left: 20px;
    margin-top: 10px
}

.figuras-clasicas {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-style: solid;
    border-color: white;
}

.figuras-clasicas h2 {
    color: white;
    margin-top: 20px;
    margin-left: 20px;
}

.figuras-clasicas p {
    color: #5647FF;
    margin-top: 10px;
    margin-left: 20px;
}

.imagenes-figuras-clasicas {
    display: flex;
    width: 50%;
    justify-content: center;
}

.imagenes-figuras-clasicas img {
    width: 65%;
}

.los-mas-vendidos {
    width: 98%;
    margin-top: 10px;
    border-style: solid;
    border-color: white;
}

.los-mas-vendidos h2 {
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 40px;
}

.los-mas-vendidos img:nth-child(2) {
    width: 19%;
}

.los-mas-vendidos img:nth-child(3) {
    width: 11%;
}

.los-mas-vendidos img:nth-child(4) {
    width: 16%;
}

.los-mas-vendidos img:nth-child(5) {
    width: 27%;
}

.los-mas-vendidos img:nth-child(6) {
    width: 24%;
}

@media (max-width:768px) {

    /*responsive-all-header*/

    .logo-decori {
        width: 80px;
    }

    .decori {
        width: 220px;
    }

    .barra-de-busqueda input {
        margin-left: -80px;
        margin-top: 25px;
        width: 100%;
        height: 33px;
        font-size: 14px;
    }

    .carrito-de-compras {
        margin-top: -35px;
        margin-left: 92%;
        width: 5%;
    }

    .frase {
        margin-top: 30px;
        margin-left: 250px;
        font-size: 20px;
    }

    .navbar {
        gap: 20px;
        font-size: 25px;
        margin-top: 25px;
    }


    /*responsive-all-footer*/

    .titulos-footer ul {
        margin-top: 5px;
        margin-left: 5px;
        font-size: 25px;
        gap: 400px;
    }

    .enlaces-footer {
        margin-left: -300px;
    }

    .enlaces-footer p {
        font-size: 5px;
        margin-left: 500px;
        padding-right: 0px;
    }

    .enlaces-footer img {
        margin-top: 15px;
        margin-right: 20px;
    }

    .enlaces-footer img:nth-child(2) {
        width: 50px;
    }

    .enlaces-footer img:nth-child(3) {
        width: 30px;
    }

    .enlaces-footer img:nth-child(4) {
        width: 30px;
    }

    .enlaces-footer img:nth-child(5) {
        width: 40px;
    }
}

@media (max-width:320px) {}

/*ofertas.html*/

.titulo-ofertas {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 45px;
}

/*quienes-somos.html*/

.main-quienes-somos {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.texto-general-quienes-somos {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    color: #5647FF;
    text-shadow: 2px 2px 4px #000000;
    padding-right: 100px;
    margin-left: 250px;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.titulos-quienes-somos {
    font-size: 40px;
}

.subtitulos-titulos-quienes-somos {
    font-size: 20px;
}

.textos2-quienes-somos {
    margin-top: 20px;
}

.textos3-quienes-somos {
    margin-top: 20px;
}

.foto-quienes-somos {
    float: left;
    background-color: #1A5276;
    margin: 10px 0 0 5px;
    margin-top: 20px;
    margin-right: 250px;
}

.foto-quienes-somos img {
    display: block;
    position: relative;
    background-color: #fff;
    margin: -6px 6px 6px -6px;
    width: 500px;
    height: 710px;
}

/*crea-tu-cuenta.html e ingresa.html*/

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 625px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.4rem;
    background-color: #171717;
    border-radius: 25px;
    transition: .4s ease-in-out;
    width: 500px;
    height: 600px;
}

.form:hover {
    transform: scale(1.05);
    border: 1px solid black;
}

#heading {
    text-align: center;
    margin: 2rem;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 25px;
    padding: 0.6rem;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
    height: 1.3rem;
    width: 1.3rem;
    fill: white;
}

.input-field {
    font-size: 1rem;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}

.form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5rem;
}

.button1 {
    padding: 0.5rem;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
}

.button1:hover {
    background-color: black;
    color: white;
}

.button2 {
    padding: 0.5rem;
    padding-left: 2.3rem;
    padding-right: 2.3rem;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
}

.button2:hover {
    background-color: black;
    color: white;
}

.button3-crea-tu-cuenta {
    margin-bottom: 3rem;
    padding: 0.5rem;
    padding-left: 75px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
    text-decoration: none;
}

.button3-crea-tu-cuenta:hover {
    background-color: black;
    color: white;
}

.button3-ingresa {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
}

.button3-ingresa:hover {
    background-color: red;
    color: white;
}