* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #212031;
}

header .header-up {
  display: flex;
  justify-content: start;
}
header .header-up .logo-decori {
  width: 6.25rem;
  margin-top: 0.625rem;
  margin-left: 0.625rem;
}
header .header-up .decori {
  width: 18.75rem;
  margin-top: -11px;
  margin-left: -25px;
}
header .header-up .barra-de-busqueda {
  margin-top: 33px;
  padding: 10px;
  width: 72%;
  height: 40px;
  font-family: "verdana";
  font-size: 15px;
  outline: none;
}
header .header-up .carrito-de-compras {
  margin-top: 30px;
  margin-left: 45px;
  width: 50px;
  height: 50px;
}
header p {
  display: flex;
  justify-content: center;
  margin-top: -30px;
  color: #494949;
  font-size: 27px;
  font-style: italic;
}
header p:hover {
  text-shadow: 2px 2px 4px #000000;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-size: 40px;
  margin-top: 40px;
  width: 100%;
  margin: none;
  padding: none;
}
header nav li a {
  color: white;
  text-decoration: none;
}
header nav li a:hover {
  text-shadow: 6px 6px 8px #000000;
}
header .separador-horizontal {
  margin-top: 30px;
  height: 3px;
  background-color: white;
  color: white;
  opacity: 100%;
}

footer hr {
  margin-top: 30px;
  height: 3px;
  background-color: white;
  color: white;
  opacity: 100%;
}
footer div {
  display: flex;
}
footer div .zonas-footer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}
footer div .zonas-footer .titulos-footer {
  margin-left: 20px;
  color: #494949;
  font-size: 40px;
}
footer div .zonas-footer .zona-ayuda {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 80px;
  gap: 7px;
  font-size: 23px;
  color: black;
}
footer div .zonas-footer .zona-ayuda img {
  margin-top: 2px;
  margin-left: 75px;
  width: 4%;
}
footer div hr {
  margin-top: 45px;
  width: 10%;
  height: 0%;
  transform: rotate(90deg);
  opacity: 10%;
}
footer div .zonas-footer div {
  display: flex;
  margin-left: 65px;
  gap: 60px;
}
footer div .zonas-footer div img {
  width: 80px;
}

.grid-main-index {
  display: grid;
  grid-template-columns: repeat(2, 49%);
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
  width: 100%;
}
.grid-main-index .pokemons {
  grid-column: 1/2;
  grid-row: 1/2;
  border-style: solid;
  border-color: white;
  width: 100%;
  height: 100%;
}
.grid-main-index .pokemons div h2 {
  color: white;
  margin-top: 20px;
  margin-left: 20px;
}
.grid-main-index .pokemons div p {
  color: #5647FF;
  margin-top: 10px;
  margin-left: 20px;
}
.grid-main-index .pokemons .fotos-grid-index {
  display: flex;
  justify-content: center;
}
.grid-main-index .pokemons .fotos-grid-index img {
  width: 90%;
}
.grid-main-index .art-toys {
  grid-column: 1/2;
  grid-row: 1/2;
  border-style: solid;
  border-color: white;
  width: 100%;
  height: 100%;
  grid-column: 2/3;
  grid-row: 1/2;
}
.grid-main-index .art-toys div h2 {
  color: white;
  margin-top: 20px;
  margin-left: 20px;
}
.grid-main-index .art-toys div p {
  color: #5647FF;
  margin-top: 10px;
  margin-left: 20px;
}
.grid-main-index .art-toys .fotos-grid-index {
  display: flex;
  justify-content: center;
}
.grid-main-index .art-toys .fotos-grid-index img {
  width: 90%;
}
.grid-main-index .superheroes {
  grid-column: 1/2;
  grid-row: 1/2;
  border-style: solid;
  border-color: white;
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  grid-row: 2/3;
}
.grid-main-index .superheroes div h2 {
  color: white;
  margin-top: 20px;
  margin-left: 20px;
}
.grid-main-index .superheroes div p {
  color: #5647FF;
  margin-top: 10px;
  margin-left: 20px;
}
.grid-main-index .superheroes .fotos-grid-index {
  display: flex;
  justify-content: center;
}
.grid-main-index .superheroes .fotos-grid-index img {
  width: 60%;
}
.grid-main-index .figuras-clasicas {
  grid-column: 1/2;
  grid-row: 1/2;
  border-style: solid;
  border-color: white;
  width: 100%;
  height: 100%;
  grid-column: 2/3;
  grid-row: 2/3;
}
.grid-main-index .figuras-clasicas div h2 {
  color: white;
  margin-top: 20px;
  margin-left: 20px;
}
.grid-main-index .figuras-clasicas div p {
  color: #5647FF;
  margin-top: 10px;
  margin-left: 20px;
}
.grid-main-index .figuras-clasicas .fotos-grid-index {
  display: flex;
  justify-content: center;
}
.grid-main-index .figuras-clasicas .fotos-grid-index img {
  width: 30%;
}

.los-mas-vendidos {
  width: 98.6%;
  margin-top: 10px;
  margin-left: 14px;
  border-style: solid;
  border-color: white;
}
.los-mas-vendidos h2 {
  color: white;
  margin-top: 20px;
  margin-left: 20px;
  font-size: 40px;
}
.los-mas-vendidos img:nth-child(2) {
  width: 19%;
}
.los-mas-vendidos img:nth-child(3) {
  width: 11%;
  margin-bottom: 20px;
}
.los-mas-vendidos img:nth-child(4) {
  width: 16%;
  margin-bottom: 10px;
}
.los-mas-vendidos img:nth-child(5) {
  width: 27%;
  margin-bottom: 10px;
}
.los-mas-vendidos img:nth-child(6) {
  width: 23%;
  margin-bottom: 30px;
}

.hover-effect :hover {
  border-color: #4A4F85;
  border-width: 2px;
}

.main-quienes-somos {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.main-quienes-somos .texto-general-quienes-somos {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  text-shadow: 2px 2px 4px #000000;
  padding-right: 100px;
  margin-left: 250px;
}
.main-quienes-somos .texto-general-quienes-somos .titulos-quienes-somos {
  font-size: 40px;
  color: white;
}
.main-quienes-somos .texto-general-quienes-somos .subtitulos-titulos-quienes-somos {
  font-size: 20px;
  color: #5647FF;
}
.main-quienes-somos .texto-general-quienes-somos .textos2-quienes-somos, .main-quienes-somos .texto-general-quienes-somos .textos3-quienes-somos {
  margin-top: 20px;
}
.main-quienes-somos .foto-quienes-somos {
  float: left;
  background-color: #1A5276;
  margin: 10px 0 0 5px;
  margin-top: 20px;
  margin-right: 250px;
}
.main-quienes-somos .foto-quienes-somos img {
  display: block;
  position: relative;
  background-color: #fff;
  margin: -6px 6px 6px -6px;
  width: 500px;
  height: 710px;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
.main-crea-tu-cuenta {
  -webkit-animation: slide-in-elliptic-left-fwd 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-left-fwd 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.main-crea-tu-cuenta .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 710px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 6.4px;
  background-color: #171717;
  border-radius: 25px;
  transition: 0.4s ease-in-out;
  width: 500px;
  height: 600px;
}
.main-crea-tu-cuenta .form .form:hover {
  transform: scale(1.05);
  border: 1px solid black;
}
.main-crea-tu-cuenta .form #heading {
  text-align: center;
  margin: 2rem;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
}
.main-crea-tu-cuenta .form .field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 25px;
  padding: 0.6rem;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}
.main-crea-tu-cuenta .form .field .input-icon {
  height: 1.3rem;
  width: 1.3rem;
  fill: white;
}
.main-crea-tu-cuenta .form .field .input-field {
  font-size: 1rem;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}
.main-crea-tu-cuenta .form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5rem;
}
.main-crea-tu-cuenta .form .btn .button1 {
  padding: 0.5rem;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
}
.main-crea-tu-cuenta .form .btn .button1 .button1:hover {
  background-color: black;
  color: white;
}
.main-crea-tu-cuenta .form .button3-crea-tu-cuenta {
  margin-bottom: 3rem;
  padding: 0.5rem;
  padding-left: 75px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
  text-decoration: none;
}
.main-crea-tu-cuenta .form .button3-crea-tu-cuenta .button3-crea-tu-cuenta:hover {
  background-color: black;
  color: white;
}

@-webkit-keyframes slide-in-elliptic-left-fwd {
  0% {
    -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
    transform: translateX(-800px) rotateY(30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 1800px 50%;
    transform-origin: 1800px 50%;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-left-fwd {
  0% {
    -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
    transform: translateX(-800px) rotateY(30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 1800px 50%;
    transform-origin: 1800px 50%;
    opacity: 1;
  }
}
.main-ingresa {
  -webkit-animation: slide-in-blurred-right 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;
  animation: slide-in-blurred-right 0.8s cubic-bezier(0.23, 1, 0.32, 1) both;
}
.main-ingresa .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 710px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 6.4px;
  background-color: #171717;
  border-radius: 25px;
  transition: 0.4s ease-in-out;
  width: 500px;
  height: 600px;
}
.main-ingresa .form .form:hover {
  transform: scale(1.05);
  border: 1px solid black;
}
.main-ingresa .form #heading {
  text-align: center;
  margin: 2rem;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
}
.main-ingresa .form .field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 25px;
  padding: 0.6rem;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}
.main-ingresa .form .field .input-icon {
  height: 1.3rem;
  width: 1.3rem;
  fill: white;
}
.main-ingresa .form .field .input-field {
  font-size: 1rem;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}
.main-ingresa .form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5rem;
}
.main-ingresa .form .btn .button1 {
  padding: 0.5rem;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
}
.main-ingresa .form .btn .button1 .button1:hover {
  background-color: black;
  color: white;
}
.main-ingresa .form .button3-ingresa {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
}
.main-ingresa .form .button3-ingresa .button3-ingresa:hover {
  background-color: red;
  color: white;
}

@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
/*responsive-header*/
@media (max-width: 768px) {
  header .header-up .logo-decori {
    width: 80px;
  }
  header .header-up .decori {
    margin-top: 3px;
    width: 200px;
  }
  header .header-up .barra-de-busqueda {
    margin-top: 31px;
    margin-left: -10px;
    padding: 0px;
    width: 58%;
    height: 28px;
    font-size: 9px;
  }
  header .header-up .carrito-de-compras {
    margin-top: 30px;
    margin-left: 16px;
    width: 4%;
    height: 3%;
  }
  header p {
    margin-top: -20px;
    font-size: 20px;
  }
  header nav ul {
    gap: 25px;
    font-size: 25px;
    margin-top: 25px;
    justify-content: center;
  }
  header .separador-horizontal {
    margin-top: 15px;
    width: 110%;
    height: 3px;
  }
  /*responsive-footer*/
  footer hr {
    margin-top: 30px;
    height: 3px;
    background-color: white;
    color: white;
    opacity: 100%;
  }
  footer div .zonas-footer {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
  }
  footer div .zonas-footer .titulos-footer {
    margin-left: 5px;
    color: #494949;
    font-size: 20px;
  }
  footer div .zonas-footer .zona-ayuda {
    display: flex;
    align-items: center;
    margin-top: 0px;
    margin-left: 20px;
    gap: 7px;
    font-size: 10px;
    color: black;
  }
  footer div .zonas-footer .zona-ayuda img {
    margin-top: 2px;
    margin-left: 0px;
    width: 4%;
  }
  footer div hr {
    margin-top: 27px;
    width: 17%;
    height: 0%;
    transform: rotate(90deg);
    opacity: 10%;
  }
  footer div .zonas-footer div {
    display: flex;
    margin-left: 5px;
    gap: 5px;
  }
  footer div .zonas-footer div img {
    width: 40px;
  }
  /*responsive-main-index*/
  .los-mas-vendidos {
    margin-left: 6px;
  }
  .los-mas-vendidos h2 {
    font-size: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
