/*responsive-header*/

@media (max-width:320px) {
    header {
        .header-up {
            .logo-decori {
                margin-top: 5px;
                margin-left: 5px;
                width: 35px;
            }

            .decori {
                margin-top: -2px;
                margin-left: -10px;
                width: 100px;
            }

            .barra-de-busqueda {
                margin-top: 12px;
                margin-left: -10px;
                padding: 0px;
                width: 52%;
                height: 14px;
                font-size: 5px;
            }

            .boton-de-busqueda {
                margin-top: -2px;
                margin-right: 18px;

                &::before {
                    height: 23%;
                    top: 16px;
                    margin-left: 16px;
                }

                img {
                    width: 15%;
                }
            }

            .carrito-de-compras {
                margin-top: 11px;
                margin-left: 8px;
                width: 4.7%;
            }
        }

        p {
            margin-top: -15px;
            font-size: 7px;
        }

        nav {
            ul {
                gap: 8px;
                font-size: 10px;
                margin-top: 10px;
            }
        }

        .separador-horizontal {
            margin-top: 5px;
            height: 2px;
        }
    }

    /*responsive-footer*/

    footer {
        hr {
            @include separador-horizontal-media-2;
        }

        div {

            .zonas-footer {
                margin-top: 3px;

                .titulos-footer {
                    margin-left: 5px;
                    font-size: 7px;
                }

                .zona-ayuda {
                    margin-top: 2px;
                    margin-left: 15px;
                    gap: 10px;
                    font-size: 3.5px;

                    img {
                        margin-top: 0px;
                        margin-right: -9px;
                        margin-left: 8px;
                    }
                }
            }

            hr {
                margin-top: 8px;
                width: 9%;
            }

            .zonas-footer {

                div {
                    margin-left: 10px;
                    gap: 7px;

                    img {
                        width: 15px;
                    }
                }

            }
        }
    }

    /*responsive-main-index*/

    .grid-main-index {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 8px;
        width: 95%;
        gap: 5px;

        div {

            h2 {
                font-size: 10px;
            }

            h3 {
                font-size: 7px;
            }
        }

    }

    .los-mas-vendidos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 95%;
        margin-top: 5px;
        margin-left: 8px;

        h2 {
            margin-top: 0px;
            margin-left: 20px;
            font-size: 14px;
            padding: 10px;
        }

        img {
            margin: 15px;
            height: 100%;
        }

        img:nth-child(2) {
            width: 40%;
        }

        img:nth-child(3) {
            width: 25%;
        }

        img:nth-child(4) {
            width: 32%;
        }

        img:nth-child(5) {
            width: 47%;
            margin-top: 25px;

        }

        img:nth-child(6) {
            width: 50%;
            margin-right: 30px;

        }
    }

    /*responsive-main-ofertas*/

    .main-ofertas {
        .titulo1-ofertas {
            h1 {
                font-size: 13px;
            }
        }

        .grupo-cards {
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
            margin-left: 0px;

        }

        .zona2-ofertas {
            display: flex;
            flex-direction: column;

            .texto-niñez {
                margin-top: 10px;

                h2 {
                    font-size: 13px;

                    p:nth-child(2) {
                        font-size: 23px;
                    }
                }
            }

            .imagenes-niñez {
                margin-top: -15px;
                margin-right: 0px;

                .foto1-niñez {
                    margin-top: 10px;
                    width: 300px;
                }

                .foto2-niñez {
                    margin-top: 30px;
                    width: 170px;
                }
            }
        }

        .texto-imagenes-niñez {
            justify-content: center;
            margin-top: 8px;
            margin-right: 0px;
            margin-left: 0px;
            gap: 60px;

            h3 {
                font-size: 7px;
            }
        }
    }

    /*responsive-main-quienes-somos*/

    .main-quienes-somos {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        .foto-quienes-somos {
            display: flex;
            justify-content: center;
            background: none;
            background-color: none;
            margin: 10px;
            margin-top: 20px;
            margin-right: 0px;

            img {
                display: flex;
                justify-content: center;
                margin: none;
                width: 150px;
                height: 250px;
            }
        }

        .texto-general-quienes-somos {
            text-shadow: 2px 2px 4px #000000;
            padding-right: none;
            margin-left: 100px;
            text-align: center;

            .titulos-quienes-somos {
                font-size: 8px;
                color: $color-texto-titulos;
            }

            .subtitulos-titulos-quienes-somos {
                font-size: 6px;
                color: $color-texto-subtitulos;
            }

            .textos2-quienes-somos {
                margin-top: 6px;
            }

        }
    }

    /*responsive-crea-tu-cuenta*/

    .main-crea-tu-cuenta {
        -webkit-animation: slide-in-elliptic-left-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-elliptic-left-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        form {
            .button3-crea-tu-cuenta {
                text-align: center;
                margin-bottom: 3rem;
                padding: none;
                padding-left: 0px;
                font-size: 15px;
                border-radius: 5px;
                border: none;
                outline: none;
                transition: .4s ease-in-out;
                background-color: #252525;
                color: white;
                text-decoration: none;

                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }


    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 25px;
        margin-bottom: 25px;
        margin-left: 30px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 6.4px;
        background-color: #171717;
        border-radius: 25px;
        transition: .4s ease-in-out;
        width: 250px;
        height: 520px;

        .form:hover {
            transform: scale(1.05);
            border: 1px solid black;
        }

        #heading {
            text-align: center;
            margin: none;
            color: rgb(255, 255, 255);
            font-size: 30px;
        }

        .field {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            border-radius: 25px;
            padding: 0.6rem;
            border: none;
            outline: none;
            color: white;
            background-color: #171717;
            box-shadow: inset 2px 5px 10px rgb(5, 5, 5);

            .input-icon {
                height: 1.3rem;
                width: 1.3rem;
                fill: white;
            }

            .input-field {
                font-size: 10px;
                background: none;
                border: none;
                outline: none;
                width: 100%;
                color: #d3d3d3;
            }
        }

        .btn {
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin-top: 2.5rem;

            .button1 {
                padding: none;
                padding-left: 1.1em;
                padding-right: 1.1em;
                border-radius: 5px;
                margin-right: 0.5rem;
                font-size: 15px;
                border: none;
                outline: none;
                transition: .4s ease-in-out;
                background-color: #252525;
                color: white;

                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }

    /*responsive-ingresa*/

    .main-ingresa {
        -webkit-animation: slide-in-blurred-right 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
        animation: slide-in-blurred-right 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;

        form {
            .button3-ingresa {
                margin-bottom: 3em;
                padding: 0.5em;
                border-radius: 5px;
                font-size: 15px;
                border: none;
                outline: none;
                transition: .4s ease-in-out;
                background-color: #252525;
                color: white;

                &:hover {
                    background-color: red;
                    color: white;
                }
            }
        }
    }


}