/*responsive-header*/

@media (max-width:1024px) {
    header {
        .header-up {
            .logo-decori {
                width: 85px;
            }

            .decori {
                margin-top: 0px;
                width: 220px;
            }

            .barra-de-busqueda {
                margin-top: 32px;
                margin-left: -10px;
                width: 65%;
                height: 30px;
                font-size: 10px;
            }

            .boton-de-busqueda {
                margin-top: 28px;
                margin-right: 72px;

                &::before {
                    height: 50%;
                    top: 9px;
                    margin-left: 5px;
                }

                img {
                    width: 35%;
                }
            }

            .carrito-de-compras {
                margin-top: 30px;
                margin-left: 19px;
                width: 3.5%;
                height: 100%;
            }
        }

        p {
            margin-top: -20px;
            font-size: 22px;
        }

        nav {
            ul {
                gap: 45px;
                font-size: 30px;
                margin-top: 25px;
                justify-content: center;
            }
        }

        .separador-horizontal {
            @include separador-horizontal-media-1;
        }
    }

    /*responsive-footer*/

    footer {
        hr {
            @include separador-horizontal-media-1;
        }

        div {

            .zonas-footer {
                margin-top: 2px;

                .titulos-footer {
                    margin-left: 10px;
                    font-size: 25px;
                }

                .zona-ayuda {
                    margin-top: 1px;
                    margin-left: 35px;
                    gap: 20px;
                    font-size: 13px;

                    img {
                        margin-top: 2px;
                        margin-right: -18px;
                        margin-left: 20px;
                    }
                }
            }

            hr {
                margin-top: 21px;
                width: 9%;
            }

            .zonas-footer {

                div {
                    margin-left: 10px;
                    gap: 20px;

                    img {
                        width: 45px;
                    }
                }

            }
        }
    }

    /*responsive-main-index*/

    .grid-main-index {
        margin-top: 15px;
        margin-left: 5px;
        width: 99%;
    }

    .los-mas-vendidos {
        width: 98.0%;
        margin-left: 10px;

        h2 {
            font-size: 30px;
        }
    }

    /*responsive-main-ofertas*/

    .main-ofertas {
        .titulo1-ofertas {
            h1 {
                font-size: 35px;
            }
        }

        .grupo-cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-left: 15px;

            .card {
                width: 300px;
                height: 400px;
                margin: 10px;

                .charmander-ofertas {
                    width: 240px;
                    margin-left: 15px;
                    margin-top: 10px;
                }

                .bearbrick-ofertas {
                    width: 150px;
                    margin-left: 75px;
                    margin-top: 10px;
                }

                .miles-ofertas {
                    width: 170px;
                    margin-left: 60px;
                }

                .donkey-kong-ofertas {
                    width: 270px;
                    margin-left: 10px;
                    margin-top: 0px;
                }

                .stitch-ofertas {
                    width: 250px;
                    margin-left: 20px;
                    margin-top: 10px;
                }

                .card-body {
                    h3 {
                        font-size: 20px;
                        color: white;
                    }
                }
            }
        }

        hr {
            margin-top: 10px;
        }

        .zona2-ofertas {
            display: flex;
            flex-direction: column;

            .texto-niñez {
                margin-top: 20px;

                h2 {
                    font-size: 35px;

                    p:nth-child(2) {
                        font-size: 60px;
                    }
                }
            }

            .imagenes-niñez {
                margin-top: 0px;
                margin-right: 0px;

                .foto1-niñez {
                    margin-top: 10px;
                    width: 500px;
                }

                .foto2-niñez {
                    margin-top: 30px;
                    width: 400px;
                }
            }
        }

        .texto-imagenes-niñez {
            justify-content: center;
            margin-top: 10px;
            margin-right: 0px;
            margin-left: 50px;
            gap: 185px;

            h3 {
                font-size: 23px;
            }
        }
    }

    /*responsive-main-quienes-somos*/

    .main-quienes-somos {
        display: flex;
        flex-direction: row;
        margin-top: 20px;

        .foto-quienes-somos {
            background-color: #1A5276;
            margin: 10px 0 0 5px;
            margin-top: 20px;
            margin-right: 100px;

            img {
                display: flex;
                justify-content: start;
                position: relative;
                background-color: #fff;
                margin: -6px 6px 6px -6px;
                width: 300px;
                height: 400px;
            }
        }

        .texto-general-quienes-somos {
            text-shadow: 2px 2px 4px #000000;
            padding-right: 100px;
            margin-left: 50px;

            .titulos-quienes-somos {
                font-size: 20px;
                color: $color-texto-titulos;
            }

            .subtitulos-titulos-quienes-somos {
                font-size: 15px;
                color: $color-texto-subtitulos;
            }

            .textos2-quienes-somos {
                margin-top: 15px;
            }

        }
    }

    /*responsive-crea-tu-cuenta*/

    .main-crea-tu-cuenta {
        -webkit-animation: slide-in-elliptic-left-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-elliptic-left-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        form {
            .button3-crea-tu-cuenta {
                margin-bottom: 3rem;
                padding: 0.5rem;
                padding-left: 75px;
                font-size: 1rem;
                border-radius: 5px;
                border: none;
                outline: none;
                transition: .4s ease-in-out;
                background-color: #252525;
                color: white;
                text-decoration: none;

                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }


    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 260px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 6.4px;
        background-color: #171717;
        border-radius: 25px;
        transition: .4s ease-in-out;
        width: 500px;
        height: 600px;

        .form:hover {
            transform: scale(1.05);
            border: 1px solid black;
        }

        #heading {
            text-align: center;
            margin: 2rem;
            color: rgb(255, 255, 255);
            font-size: 2.5rem;
        }

        .field {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            border-radius: 25px;
            padding: 0.6rem;
            border: none;
            outline: none;
            color: white;
            background-color: #171717;
            box-shadow: inset 2px 5px 10px rgb(5, 5, 5);

            .input-icon {
                height: 1.3rem;
                width: 1.3rem;
                fill: white;
            }

            .input-field {
                font-size: 1rem;
                background: none;
                border: none;
                outline: none;
                width: 100%;
                color: #d3d3d3;
            }
        }

        .btn {
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin-top: 2.5rem;

            .button1 {
                padding: 0.5rem;
                padding-left: 1.1em;
                padding-right: 1.1em;
                border-radius: 5px;
                margin-right: 0.5rem;
                font-size: 1.2rem;
                border: none;
                outline: none;
                transition: .4s ease-in-out;
                background-color: #252525;
                color: white;

                &:hover {
                    background-color: black;
                    color: white;
                }
            }
        }
    }

    /*responsive-ingresa*/

    .main-ingresa {
        -webkit-animation: slide-in-blurred-right 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
        animation: slide-in-blurred-right 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;

        form {
            .button3-ingresa {
                margin-bottom: 3em;
                padding: 0.5em;
                border-radius: 5px;
                font-size: 1rem;
                border: none;
                outline: none;
                transition: .4s ease-in-out;
                background-color: #252525;
                color: white;

                &:hover {
                    background-color: red;
                    color: white;
                }
            }
        }
    }

}