/*responsive-header*/

@media (max-width:768px) {
    header {
        .header-up {
            .logo-decori {
                width: 80px;
            }

            .decori {
                margin-top: 3px;
                width: 200px;
            }

            .barra-de-busqueda {
                margin-top: 31px;
                margin-left: -10px;
                padding: 0px;
                width: 58%;
                height: 28px;
                font-size: 9px;
            }

            .carrito-de-compras {
                margin-top: 30px;
                margin-left: 16px;
                width: 4%;
                height: 3%;
            }
        }

        p {
            margin-top: -20px;
            font-size: 20px;
        }

        nav {
            ul {
                gap: 25px;
                font-size: 25px;
                margin-top: 25px;
                justify-content: center;
            }
        }

        .separador-horizontal {
            margin-top: 15px;
            width: 100%;
            height: 3px;
        }
    }

    /*responsive-footer*/

    footer {
        hr {
            margin-top: 20px;
        }

        div {

            .zonas-footer {
                margin-top: 5px;

                .titulos-footer {
                    margin-left: 5px;
                    font-size: 20px;
                }

                .zona-ayuda {
                    margin-top: 0px;
                    margin-left: 30px;
                    gap: 11px;
                    font-size: 10px;

                    img {
                        margin-top: 0px;
                        margin-right: -8px;
                        margin-left: 0px;
                    }
                }
            }

            hr {
                margin-top: 20px;
                width: 13%;
                height: 0%;
            }

            .zonas-footer {

                div {
                    display: flex;
                    margin-left: 0px;
                    gap: 10px;

                    img {
                        width: 40px;
                    }
                }

            }
        }
    }

    /*responsive-main-index*/

    .grid-main-index {
        margin-top: 20px;
    }

    .los-mas-vendidos {
        width: 99.2%;
        margin-left: 3px;

        h2 {
            font-size: 30px;
        }
    }

}