@mixin separador-horizontal {
    margin-top: 30px;
    margin-bottom: 0px;
    height: 3px;
    background-color: white;
    color: white;
    opacity: 100%;
}

@mixin separador-horizontal-media-1{
    margin-top: 15px;
    height: 3px;
}

@mixin separador-horizontal-media-2{
    margin-top: 10px;
    height: 2px;
}

@mixin grids-main-index {
    grid-column: 1/ 2;
    grid-row: 1 / 2;
    border-style: solid;
    border-color: white;
    width: 100%;
    height: 100%;

    div {
        h2 {
            color: $color-texto-titulos;
            margin-top: 20px;
            margin-left: 20px;
        }

        h3 {
            color: $color-texto-subtitulos;
            margin-top: 10px;
            margin-left: 20px;
        }
    }

    .fotos-grid-index {
        display: flex;
        justify-content: center;
    }
}

@mixin flex-start {
    display: flex;
    justify-content: start;
    margin-left: 30px;
}