footer {
    background-color: #FFF2D8;

    .textos1-footer {
        display: flex;
        justify-content: center;
        padding: 20px;
        font-size: 30px;
        gap: 50px;
        color: #45220A;
    }

    .textos2-footer {
        @extend .textos1-footer;
    }
}