
.main-quienes-somos {
    display: flex;
    flex-direction: row;
    margin-top: 20px;

    .foto-quienes-somos {
        background-color: #1A5276;
        margin: 10px 0 0 5px;
        margin-top: 20px;
        margin-right: 250px;

        img {
            display: flex;
            justify-content: start;
            position: relative;
            background-color: #fff;
            margin: -6px 6px 6px -6px;
            width: 500px;
            height: 710px;
        }
    }

    .texto-general-quienes-somos {
        -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        text-shadow: 2px 2px 4px #000000;
        padding-right: 100px;
        margin-left: 250px;

        .titulos-quienes-somos {
            font-size: 40px;
            color: $color-texto-titulos;
        }

        .subtitulos-titulos-quienes-somos {
            font-size: 20px;
            color: $color-texto-subtitulos;
        }

        .textos2-quienes-somos {
            margin-top: 20px;
        }

    }
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
