.main-crea-tu-cuenta {
    -webkit-animation: slide-in-elliptic-left-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-elliptic-left-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    form {
        .button3-crea-tu-cuenta {
            margin-bottom: 3rem;
            padding: 0.5rem;
            padding-left: 75px;
            font-size: 1rem;
            border-radius: 5px;
            border: none;
            outline: none;
            transition: .4s ease-in-out;
            background-color: #252525;
            color: white;
            text-decoration: none;

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
}

@-webkit-keyframes slide-in-elliptic-left-fwd {
    0% {
        -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
        transform: translateX(-800px) rotateY(30deg) scale(0);
        -webkit-transform-origin: -100% 50%;
        transform-origin: -100% 50%;
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) rotateY(0) scale(1);
        transform: translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin: 1800px 50%;
        transform-origin: 1800px 50%;
        opacity: 1;
    }
}

@keyframes slide-in-elliptic-left-fwd {
    0% {
        -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
        transform: translateX(-800px) rotateY(30deg) scale(0);
        -webkit-transform-origin: -100% 50%;
        transform-origin: -100% 50%;
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) rotateY(0) scale(1);
        transform: translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin: 1800px 50%;
        transform-origin: 1800px 50%;
        opacity: 1;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 710px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 6.4px;
    background-color: #171717;
    border-radius: 25px;
    transition: .4s ease-in-out;
    width: 500px;
    height: 600px;

    .form:hover {
        transform: scale(1.05);
        border: 1px solid black;
    }

    #heading {
        text-align: center;
        margin: 2rem;
        color: rgb(255, 255, 255);
        font-size: 2.5rem;
    }

    .field {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        border-radius: 25px;
        padding: 0.6rem;
        border: none;
        outline: none;
        color: white;
        background-color: #171717;
        box-shadow: inset 2px 5px 10px rgb(5, 5, 5);

        .input-icon {
            height: 1.3rem;
            width: 1.3rem;
            fill: white;
        }

        .input-field {
            font-size: 1rem;
            background: none;
            border: none;
            outline: none;
            width: 100%;
            color: #d3d3d3;
        }
    }

    .btn {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-top: 2.5rem;

        .button1 {
            padding: 0.5rem;
            padding-left: 1.1em;
            padding-right: 1.1em;
            border-radius: 5px;
            margin-right: 0.5rem;
            font-size: 1.2rem;
            border: none;
            outline: none;
            transition: .4s ease-in-out;
            background-color: #252525;
            color: white;

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
}