.hover-effect :hover {
    border-color: #4A4F85;
    border-width: 2px;
}

.separador-horizontal {
    @include separador-horizontal;
}

.main-ofertas {
    .titulo1-ofertas {
        display: flex;
        justify-content: center;

        h1 {
            font-size: 45px;
            margin-top: 10px;
            color: white;
        }
    }

    .grupo-cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: 25px;

        .card {
            width: 350px;
            height: 500px;
            background-color: #242336;

            .charmander-ofertas {
                width: 320px;
                margin-left: 15px;
                margin-top: 10px;
            }

            .bearbrick-ofertas {
                width: 200px;
                margin-left: 75px;
                margin-top: 10px;
            }

            .miles-ofertas {
                width: 220px;
                margin-left: 60px;
            }

            .donkey-kong-ofertas {
                width: 350px;
                margin-left: -5px;
                margin-top: -5px;
            }

            .stitch-ofertas {
                width: 330px;
                margin-left: 10px;
                margin-top: 10px;
            }

            .card-body {
                h3 {
                    font-size: 20px;
                    color: white;
                }

                p {
                    text-align: center;
                    color: #5647FF;
                }
            }
        }
    }

    .zona2-ofertas {
        display: flex;
        align-items: center;

        .texto-niñez {
            color: white;
            text-align: center;
            margin-top: 50px;

            h2 {
                font-size: 45px;

                p:nth-child(2) {
                    color: black;
                    font-size: 70px;
                }

            }
        }

        .imagenes-niñez {
            display: flex;
            margin-top: 20px;
            margin-right: 40px;

            .foto1-niñez {
                margin-top: 10px;
                transition: all 0.3s;

                &:hover {
                    transform: scale(1.10);
                }
            }

            .foto2-niñez {
                margin-top: 30px;
                width: 480px;
                transition: all 0.3s;

                &:hover {
                    transform: scale(1.15);
                }

            }
        }
    }

    .texto-imagenes-niñez {
        display: flex;
        justify-content: end;
        margin-top: 20px;
        margin-right: 115px;
        gap: 310px;
        color: #5647FF;
    }
}