.main-ingresa {
    -webkit-animation: slide-in-blurred-right 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-right 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;

    .form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 710px;
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 6.4px;
        background-color: #171717;
        border-radius: 25px;
        transition: .4s ease-in-out;
        width: 500px;
        height: 600px;

        .form:hover {
            transform: scale(1.05);
            border: 1px solid black;
        }

        #heading {
            text-align: center;
            margin: 2rem;
            color: rgb(255, 255, 255);
            font-size: 2.5rem;
        }

        .field {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            border-radius: 25px;
            padding: 0.6rem;
            border: none;
            outline: none;
            color: white;
            background-color: #171717;
            box-shadow: inset 2px 5px 10px rgb(5, 5, 5);

            .input-icon {
                height: 1.3rem;
                width: 1.3rem;
                fill: white;
            }

            .input-field {
                font-size: 1rem;
                background: none;
                border: none;
                outline: none;
                width: 100%;
                color: #d3d3d3;
            }
        }

        .btn {
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin-top: 2.5rem;

            .button1 {
                padding: 0.5rem;
                padding-left: 1.1em;
                padding-right: 1.1em;
                border-radius: 5px;
                margin-right: 0.5rem;
                font-size: 1.2rem;
                border: none;
                outline: none;
                transition: .4s ease-in-out;
                background-color: #252525;
                color: white;

                .button1:hover {
                    background-color: black;
                    color: white;
                }
            }
        }

        .button3-ingresa {
            margin-bottom: 3em;
            padding: 0.5em;
            border-radius: 5px;
            font-size: 1rem;
            border: none;
            outline: none;
            transition: .4s ease-in-out;
            background-color: #252525;
            color: white;

            .button3-ingresa:hover {
                background-color: red;
                color: white;
            }
        }
    }
}

@-webkit-keyframes slide-in-blurred-right {
    0% {
        -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-right {
    0% {
        -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) scaleY(1) scaleX(1);
        transform: translateX(0) scaleY(1) scaleX(1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}